.sideBar{
    flex: .2;
    background-color: lightblue;
}

.btn__filter{
    border:none;
    background-color: gray;;
    margin-left: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.sideBar__items{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding:10px
}

.sideBar__items>h5{
    margin-left: 10px;
}